@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: rgb(229, 228, 243);
  color: rgb(32, 32, 106);
}

#__next {
  height: 100%;
}

.App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  height: 100%;
}
